<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA" />
    <uses-permission
        android:name="android.permission.RUN_IN_BACKGROUND"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.eftabsprodns.aio.MyApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5671855968099354~8194158244"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.eftabsprodns.aio.service.VPNService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <service
            android:name="com.eftabsprodns.aio.service.OpenVPNService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="com.eftabsprodns.aio.service.SSHTunnelService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="com.eftabsprodns.aio.service.UDPTunnelService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.eftabsprodns.aio.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eftabsprodns.aio.activities.OpenVPNClient"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.eftabsprodns.aio.myhotspot.MainActivityWifi"
            android:label="WI-FI Tethering"
            android:parentActivityName="com.eftabsprodns.aio.activities.OpenVPNClient" />

        <service
            android:name="com.eftabsprodns.aio.myhotspot.ProxyService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <activity
            android:name="com.eftabsprodns.aio.logger.VPNLogs"
            android:label="HLogs"
            android:parentActivityName="com.eftabsprodns.aio.activities.OpenVPNClient" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>


